.abc{
    border: 3px solid white;
    margin-top: auto;
    position:center;
}
input[type="button"]{
    font-size:20px;
    border-radius:50%;
    width:100px;
    height: 80px;
    background-color:white;
    margin:10px;
}
input[type="text"]{
 border-radius:3px;
 width:320px;
 height: 30px;
 border-radius: 30px;
 font-size: large;
}
.title{
    font-size:30px;
    color:black;
    text-align: center;
    padding-top: 30px;
}